

.btn-color {
  border-radius: 50px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none !important;

  background: linear-gradient(to left, #67CABF 50%, #AF7EF2 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.btn-color:hover {
  background-position: left;
}

